/*this page is done by Name:Sara Yasser 	ID:20140140  Using pure html, css, js */

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.container {
	height: 1080px;
	width: 1920px;
}


@font-face {
	font-family: "BahijTheSansArabic";
	src: url(../fonts/ArbFONTS-Bahij_TheSansArabic-Bold.ttf);
}

/*background image*/

.BackgroundImg {
	width: 1920px;
	height: 1080px;
	position: absolute;
}


.LogoContainer {
	width: 133px;
	height: 129px;
	border-radius: 10px;
	background-color: white;
	z-index: 115;
	position: relative;
	margin-left: 1440px;
}

.logo {
	padding: 20px;
	margin-top: -5px;
}

.verticalLine {
	background-color: rgb( 96, 95, 250);
	position: relative;
	left: 958px;
	top: 330px;
	width: 2px;
	height: 304px;
	z-index: 8;
}

/*right image container*/

.peopleRight {
	width: 550px;
	position: relative;
	float: right;
	margin-right: 350px;
	display: block;
}

/*text under image*/

#people,
#car {
	font-size: 36px;
	font-family: "BahijTheSansArabic";
	color: white;
	font-weight: bold;
	line-height: 1.435;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding-top: 60px;
}

/*left image container*/

.carLeft {
	width: 590px;
	position: relative;
	margin-left: 350px;
	display: block;
}
